.idea/*

tex/FundamentalsComputerGraphics.aux
tex/FundamentalsComputerGraphics.bcf
tex/FundamentalsComputerGraphics.log
tex/FundamentalsComputerGraphics.out
tex/FundamentalsComputerGraphics.run.xml
tex/FundamentalsComputerGraphics.synctex.gz
tex/FundamentalsComputerGraphics.synctex(busy)
tex/FundamentalsComputerGraphics.toc
tex/FundamentalsComputerGraphics.pdf
tex/*.log
*.fls
*.bbl
*.fdb_latexmk
